parameters:
    paths:
        - ./src
    # The level max is the highest level (with check for mixed type)
    level: max
    stubFiles:
        - phpstan-stubs.php
    scanFiles:
        - src/Support/functions.php